@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    background:
    linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url('/assets/netflixbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
