@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    background:linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 60%)), url('/assets/netflixbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Style the video: 100% width and height to cover the entire window */
#background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
}

/* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    bottom: 20%;
    color: #f1f1f1;
}
.flex-movies{
    display: flex;
    overflow-x: auto;
    width: auto !important;
    flex-wrap: nowrap;
}
.flex-movies div{
    width: 900px !important;
    background-color: aquamarine;
}
.flex-movies div img {
    width: 500px;
}
.home-browse{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)), url('/assets/extraction.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}